{% extends 'core/base.html' %}

{% block content %}
    <div class="privacy">
        <div class="container">
                <h3 class="tittle-w3l">Login
                    <span class="heading-style">
                        <i></i>
                        <i></i>
                        <i></i>
                    </span>
                </h3>
            <div class="contact-form wthree">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }} 
                        <button class='login' type='submit'>Login</button>
                    </form>
                </div>
            </div>              
        </div>
    </div>
{% endblock %}