{% extends 'core/base.html' %}

{% block content %}

    <div class="privacy">
        <div class="container">
            <h3 class="tittle-w3l">Checkout
                <span class="heading-style">
                    <i></i>
                    <i></i>
                    <i></i>
                </span>
            </h3>
        <div class="contact-form wthree">
        <form method="POST">
            {% csrf_token %}
        <div>
            <label for='address'>Address:</label>
            {{ form.address }}
        </div>
        
        <div>
            <label for='phone_number'>Phone Number:</label>
            {{ form.phone_number }}  
        </div>
        <button class='checkout' type='submit'>Checkout</button>
    </form>
    </div>
    </div>
</div>
   
{% endblock %}