{% extends 'core/base.html' %}

{% block content %}

    <div class="privacy">
        <div class="container">
            <h3 class="tittle-w3l">Signup
                <span class="heading-style">
                    <i></i>
                    <i></i>
                    <i></i>
                </span>
            </h3>
            <div class="contact-form wthree">
            <form method="POST">
                {% csrf_token %}
            {{ form.as_p }} 
            <button class='signup' type='submit'>Signup Now</button>
        </form>
        </div>
        </div>
    </div>
 
{% endblock %}